    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">The Hacking Project</h1>
          <h2 class="masthead-subheading mb-0">3 mois pour coder ton produit tech !</h2>
          <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">En savoir plus</a>
        </div>
      </div>
      <!-- <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div> -->
    </header>

    <section>
      <div class="container">
      	<div class="row align-items-center">
      		<div class="col-lg-12">
      		<h2 class="display-4 text-center">Ils en parlent…</h2>
      		</div>
      	</div>
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-4">
              <img class="img-fluid" src= "<%= image_url('Maddyness.png') %>" alt="Extrait Maddyness">

            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-6">Parution Madyness</h2>
              <p><em>Aucune condition particulière pour se former, les fondateurs veulent de la mixité. Les élèves peuvent donc avoir en 17 et 65 ans et savoir parler un peu anglais. La motivation, la curiosité et la détermination sont les clés du succès pour réussir dans cette formation qui peut occuper 10 heures de travail par jour. En journée ou en nocturne, l’élève doit être disponible pendant 11 semaines pour apprendre.</em></p>
              <p><strong>|</strong> Paru le 5 septembre 2017</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid" src= "<%= image_url('Les_echos.png') %>" alt="Extrait Les Échos">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-6">Les Échos en parle</h2>
              <p><em> Sur les conseils d’un ami, je m’inscris à The Hacking Project, un bootcamp qui paraît être en accords avec mes valeurs et mon parcours : aucun diplôme requis, self et peer-learning, aspect communautaire très fort et en plus gratuit.[…] J’ai maintenant un MVP fonctionnel pour ma startup Studiomatic ainsi qu’une nouvelle compétence de développeur web me permettant de continuer à développer moi-même mon produit.</em></p>
              <p><strong>|</strong> Paru le 19 Janvier 2018</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src= "<%= image_url('Cremedelacreme.png') %>" alt="Extrait Crême de la crême">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-6">Même la crême de la crême</h2>
              <p><em>En 11 semaines, les élèves vont apprendre des bases solides du développement full stack : HTML / CSS / JavaScript / jQuery / Ruby / Rails / SQL. Ainsi, ils seront capables de recréer un clone de Airbnb, manipuler des datas, scrapper des sites internet, ou faire des Facebook bots. En fin de formation, les élèves doivent réaliser un projet final, qui leur demandera de mettre en pratique ces compétences lors d’un projet perso (une idée de start-up par exemple).</em></p>
              <p><strong>|</strong> Paru le 13 Juin 2017</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">© 2018, Made with ❤️ in France.</p>
      </div>
      <!-- /.container -->
    </footer>

